<?xml version="1.0" encoding="utf-8"?>
<manifest package="skrik.lgb.chapter_9"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Thread.MainActivity">
        </activity>

        <service android:name=".Service.MyService">
        </service>

        <activity android:name=".Service.ServiceActivity">
        </activity>
        <activity android:name=".IntentService.IntentServiceActivity">

        </activity>

        <service android:name=".IntentService.MyIntentService">
        </service>

        <activity android:name=".Alarm.AlarmActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service android:name=".Alarm.LongRunningService">

        </service>
        <receiver android:name=".Alarm.AlarmReceiver">

        </receiver>
    </application>

</manifest>